 <div class =  'student<%= @curent_student.id%>' >
<%= form_with model:   @curent_student  do |form| %>

<td><%=@curent_student.id%></td>
    <td><%= form.text_field :first_name, placeholder: "form.first_name"%></td>
    <td><%= form.text_field :last_name, placeholder: "form.last_name"%></td>
   <td> <%= form.select :age, (18..149)%></td>
    <td><%= form.select :cohort_id,  Cohort.all.map {|x| [x.name,x.id ]} %></td>
    
   <td> <%= form.submit %></td>
    
  


  
<% end %>
</div>
 
 