<div class="edit-s">
    <div>
        <table class="table table-dark " style = "width:60%;">
            <thead>
                <tr >

                    <th scope="col">first name</th>
                    <th scope="col">last name</th>
                    <th scope="col" class="text-right">age</th>
                    <th scope="col" class="text-right">salary</th>
                    <th scope="col">education</th>
                    <th scope="col" class="text-left">cohort</th>
                    <th scope="col">edit</th>

                </tr>
            </thead>
            
        </table>

        <%= form_with model:   @curent_instructor  do |form| %>
        <%= form.text_field :first_name, placeholder: "form.first_name"%>
        <%= form.text_field :last_name, placeholder: "last_name"%>

        <%=form.select :age , (21..149)  %>
        <%= form.select :salary, (0..1000) %>

        <%= form.select :completed_education, Instructor.highest_edus.keys %>
        <%= form.select :cohort_id,  Cohort.all.map {|x| [x.name,x.id ]} %>
        <%= form.submit %>
        <% end %>