<table class="table table-dark mx-auto w-75 " style ="margin-top:10%">
 <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">age</th>
      <th scope="col">salary</th>
      <th scope="col">education</th>
      <th scope="col">cohort_id</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
<tbody>
<tr>
<% @instructor.each do |instructor| %>
  <tr>
   <td> <%= instructor.id %></td>
   <td> <%= instructor.first_name %> <%= instructor.last_name %>  </td>
   <td> <%= instructor.age %> </td>
   <td> <%= instructor.salary %> </td>
   <td> <%= instructor.completed_education %> </td>
   <td>  <%= instructor.cohort_id%> </td>
    <td>  <a href=" /instructors/<%=instructor.id%>/edit">Edit</a></td>
 </tr>
<% end %>
</tr>
 </tbody>
</table>

 </div>