<div id = "instructor"></div>

<table class="table table-dark mx-auto w-75 " style ="margin-top:10%">
 <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">age</th>
      <th scope="col">salary</th>
      <th scope="col">education</th>
      <th scope="col">cohort</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
<tbody>
<tr>
<% @instructor.each do |instructor| %>
  <tr id = 'instructor_<%=instructor.id%>'>
   <td> <%= instructor.id %></td>
   <td> <%= instructor.first_name %> <%= instructor.last_name %>  </td>
   <td> <%= instructor.age %> </td>
   <td> <%= instructor.salary %> </td>
   <td> <%= instructor.completed_education %> </td>
   <td>  <%= Cohort.find(instructor.cohort_id).name%> </td>
   <td><%= link_to 'Edit', edit_instructor_path(instructor), remote: true   %></td>
     
    <td><%= link_to 'Destroy',instructor_path(instructor), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, id: 'delete_instructor' %> </td>
 </tr>
<% end %>
</tr>
 </tbody>
</table>

 </div>