<div class = 'edit'>
<%= form_with model: Instructor.new do |form| %>
    <%= form.text_field :first_name, placeholder: "Enter first_name"%>
    <%= form.text_field :last_name, placeholder: "Enter last_name"%>
    <%=form.select :age , (21..149)  %>
    <%= form.select :salary, (1..1000) %>
    <%= form.select :completed_education, Instructor.highest_edus.keys %>
    <%= form.select :cohort_id,  Cohort.all.map {|x| [x.name,x.id ]} %>
    <%= form.submit %>
<% end %>
 </div>