<table class="table table-dark mx-auto w-75 " style ="margin-top:10%">
 <thead>
    <tr>
      <th scope="col">id</th>
      <th scope="col">name</th>
      <th scope="col">total_hours</th>
      <th scope="col">edit</th>
      <th scope="col">delete</th>
    </tr>
  </thead>
<tbody>
<tr>


<% @courses.each do |cours| %>
 <tr id = "cours_<%=cours.id%>">
   <td> <%= cours.id %> </td>
   <td> <%= cours.name %>  </td>
   <td> <%= cours.total_hours %> </td>
   <td>  <a href=" /courses/<%=cours.id%>/edit">Edit</a></td>
    <td><%= link_to 'Destroy',course_path(cours), method: :delete, data: { confirm: 'Are you sure?' }, remote: true, id: 'delete_course' %> 
 
<% end %>
</tr>
</tbody>
</table>

 </div>