<!DOCTYPE html>
<html>
  <head>
    <title>School</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <h1>  <a href="/students">All students</a></h1>
    <h1>  <a href="/cohorts">All cohorts</a></h1>
    <h1>  <a href="/instructors">All instructors</a></h1>
     <h1>  <a href="/courses">All courses</a></h1>
    <%= yield %>
  </body>
</html>
