<!DOCTYPE html>
<html>

<head>
  <title>School</title>
  <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

      <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
        <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
</head>
<div class="img fadeIn">

  <body>
    <p class="notice">
      <%= notice %>
    </p>
    <p class="alert">
      <%= alert %>
    </p>
    <div class="w">


       <span class="navbar-text"> <nav class="navbar nav"></span>

        <h1>
        <span class="navbar-text">  <a href="/">Home</a> </span>
         
        </h1>
        <h1>
           <span class="navbar-text"> <a href="/users/sign_up">sign_up</a></span>
        </h1>
         
        <h1>
           <span class="navbar-text"> <a href="/users/sign_in">sign_in</a></span>
        </h1>
      </nav>

      <%= yield %>

       
  </body>

</html>